/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.markdown-reading-view .obsidian-fx .obsidian-fx-buttons {
	display: none;
}

.obsidian-fx-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.obsidian-fx-buttons button {
	flex-grow: 0;
	padding: 4px 8px 4px 8px;
	margin: 4px 0px 4px 4px;
	width: auto;
}

.obsidian-fx-buttons .label {
	margin-right: 4px;
}

.is-phone .obsidian-fx-buttons .label {
	display: none;
}


.obsidian-fx-buttons textarea {
	flex-grow: 1;
	min-height: 3ex;
	resize: vertical;
	-webkit-appearance: none;
	outline: none;
	outline-style: none;
	box-shadow: none;
	border: 0px;
	border-bottom: 1px solid var(--divider-color);
	padding: 2px 4px;
	font-size: var(--font-adaptive-normal);
	font-weight: var(--normal-weight);
	line-height: var(--line-height);
	font-family: var(--font-editor);
}

.obsidian-fx-buttons textarea:focus {
	-webkit-appearance: none;
	outline: none;
	outline-style: none;
}

.obsidian-fx:has(.callout.is-collapsed)+.obsidian-fx-buttons {
	display: none;
}

.ofx-thinking {
	animation: ofx-thinking-animation 1s infinite;
}

.ofx-thinking::before {
	content: " ......";
	animation: ofx-thinking-animation 1s infinite;
}

@keyframes ofx-thinking-animation {
	0% {
		content: ". .....";
	}

	20% {
		content: ".. ....";
	}

	40% {
		content: "... ...";
	}

	60% {
		content: ".... ..";
	}

	80% {
		content: "..... .";
	}

	100% {
		content: " ...... ";
	}
}

.callout[data-callout="consult"] {
	--callout-icon: concierge-bell;
}